<%= render 'shared/navbar' %>
<div class="container">
 <section class="d-flex justify-content-around">
   <div id="stats" class="p-2">
     <p><%= number_to_currency(DashboardHandler.today_expenses) %></p>
     <span>Today</span>
   </div>
   <div id="stats" class="p-2">
     <p><%= number_to_currency(DashboardHandler.yesterday_expenses) %></p>
     <span>Yesterday</span>
   </div>
   <div id="stats" class="p-2">
     <p><%= number_to_currency(DashboardHandler.this_month_expenses) %></p>
     <span>This Month</span>
   </div>
   <div id="stats" class="p-2">
     <p><%= number_to_currency(DashboardHandler.last_month_expenses) %></p>
     <span>Last Month</span>
   </div>
 </section>
 <section class="d-flex justify-content-around flex-wrap">
   <div class="graphs"><img src="http://3.bp.blogspot.com/_9xxJMmrkNnU/Ss_aqJPptkI/AAAAAAAAAgk/H0zXVNxYHa8/s400/Diapositiva8.jpg" alt=""></div>
   <div class="graphs"><img src="http://3.bp.blogspot.com/_9xxJMmrkNnU/Ss_aqJPptkI/AAAAAAAAAgk/H0zXVNxYHa8/s400/Diapositiva8.jpg" alt=""></div>
   <div class="graphs"><img src="http://3.bp.blogspot.com/_9xxJMmrkNnU/Ss_aqJPptkI/AAAAAAAAAgk/H0zXVNxYHa8/s400/Diapositiva8.jpg" alt=""></div>
   <div class="graphs"><img src="http://3.bp.blogspot.com/_9xxJMmrkNnU/Ss_aqJPptkI/AAAAAAAAAgk/H0zXVNxYHa8/s400/Diapositiva8.jpg" alt=""></div>
 </section>
</div>
