<%= render 'shared/navbar' %>
<div class="container">
 <section class="d-flex justify-content-around">
   <div id="stats" class="p-2">
     <p><%= number_to_currency(@today_expenses) %></p>
     <span>Today</span>
   </div>
   <div id="stats" class="p-2">
     <p><%= number_to_currency(@yesterday_expenses) %></p>
     <span>Yesterday</span>
   </div>
   <div id="stats" class="p-2">
     <p><%= number_to_currency(@this_month_expenses) %></p>
     <span>This Month</span>
   </div>
   <div id="stats" class="p-2">
     <p><%= number_to_currency(@last_month_expenses) %></p>
     <span>Last Month</span>
   </div>
 </section>
 <section class="d-flex justify-content-around flex-wrap" id="Graph_tables">
   <div class="graphs" id='last_six_months'><%= column_chart @handler.last_six_month.joins(:transaction_type).group('transaction_types.name').group_by_month(:date, format: "%b").sum(:amount), stacked: true %></div>
   <div class="graphs" id='By_day'><%= column_chart @handler.this_month.joins(:transaction_type).group('transaction_types.name').group_by_day(:date, format: "%d").sum(:amount) %></div>
   <div class="graphs" id="By_category"><%= pie_chart @handler.this_month.joins(:transaction_type).group('transaction_types.name').count %></div>
   <div class="graphs" id="Accumulated"><%= area_chart @handler.last_two_months.group_by_week(:date).sum(:amount) %> </div>
 </section>
</div>
